@page "/user-management/admins"
@inject IStringLocalizer<Localized> Localized
@inject PatientAnalyticsAuthStateProvider PatientAnalyticsAuthStateProvider
@inject UserService UserService
@inject RegistrationService RegistrationService
@inject NavigationManager NavigationManager

<PageTitle>@Localized["Title_UserManagement_Admins"]</PageTitle>

<AdminDashboardWrapper>
    <HttpStatusExceptionIndicator Exception="@_exception" />

    <div class="columns">
        <div class="column">
            <h2 class="title is-4">@Localized["Title_Admins"]</h2>
            <UsersTable Users="_admins" />
        </div>
        <div class="column">
            <h2 class="title is-4">@Localized["Title_AdminCreate"]</h2>
            <UserForm OnSubmit="CreateAdmin" Exception="_createAdminException" />
        </div>
    </div>
</AdminDashboardWrapper>

@code {
    private List<User> _admins = new();
    
    private bool _refreshing;
    private HttpStatusCodeException? _exception;
    private HttpStatusCodeException? _createAdminException;
    
    protected override async Task OnInitializedAsync()
    {
        if (PatientAnalyticsAuthStateProvider.HasAdminPrivileges())
        {
            await PatientAnalyticsAuthStateProvider.ServiceWrapper(
                _refreshing,
                token => _admins = UserService.GetAdmins(token),
                refreshing => _refreshing = refreshing,
                exception => _exception = exception, 
                () => NavigationManager.NavigateTo("/"));
        }
    }
    
    private async void CreateAdmin((RegistrationPayload, Action)args)
    {
        await PatientAnalyticsAuthStateProvider.ServiceWrapperAsync(
            _refreshing,
            async token =>
            {
                var registerResponse = await RegistrationService.RegisterUser(token, args.Item1, "Admin");

                _createAdminException = null;
            
                _admins.Add(registerResponse.User);
            
                args.Item2();
            },
            refreshing => _refreshing = refreshing,
            exception => _createAdminException = exception, 
            () => NavigationManager.NavigateTo("/"));
    }
}