@inject IStringLocalizer<Localized> Localized

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/bulma-divider.min.css">
    <link rel="stylesheet" href="/css/PatientAnalytics.styles.css">
    <base href="/" />
    <HeadOutlet @rendermode="@InteractiveServer" />
    <PageTitle>@Localized["AppTitle"]</PageTitle>
</head>

<body>
<section class="section">
    <Routes />
</section>
<script src="_framework/blazor.web.js" autostart="false"></script>
<script>
    const applicationCulture = (navigator.languages && navigator.languages.length) ? navigator.languages[0] :
        navigator.userLanguage || navigator.language || navigator.browserLanguage || 'en';
    
    window.getBrowserLanguage = () => applicationCulture;
    
    Blazor.start({
        webAssembly: {
            applicationCulture,
        }
    });
</script>
</body>

</html>
