@using PatientAnalytics.Blazor.Models
@inject IStringLocalizer<Localized> Localized

@if (Alert is not null)
{
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">@Alert.Title</p>
                <button class="delete" aria-label="close" @onclick="Alert.OnCancel"></button>
            </header>
            <footer class="modal-card-foot">
                <button class="button is-danger mr-3" @onclick="Alert.OnConfirm">@Alert.ConfirmButtonText</button>
                <button class="button" @onclick="Alert.OnCancel">@Alert.CancelButtonText</button>
            </footer>
        </div>
    </div>
}

@code {
    [Parameter]
    public Alert? Alert { private get; set; }
}
